@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

.popup{
    position: fixed;
    top:50%;
    left:50%;
    width: 400px;

    border: none;
    border-radius: 4px;
    box-shadow: -2px 5px 5px #a1a1a1;

    background-color: #FDFFFC;

    align-items: left;

    color: #011627;
    font-size: 20px;
    font-family: 'Coming Soon';
    text-align: left;
}

