@import url('https://fonts.googleapis.com/css?family=Comic+Neue');

.instruction{
    font-size: 50px;
    font-family: 'Comic Neue';
    color: white;
    background-color: rgba(95, 158, 160, 0.459);
}